 @font-face{font-family:'DB FongNam X';src:url(../fonts/DBFongNamX.eot);src:url(../fonts/DBFongNamX.eot?#iefix) format("embedded-opentype"),url(../fonts/DBFongNamX.woff2) format("woff2"),url(../fonts/DBFongNamX.woff) format("woff"),url(../fonts/DBFongNamX.ttf) format("truetype"),url(../fonts/DBFongNamX.svg#DBFongNamX) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'DB FongNam X';src:url(../fonts/DBFongNamX-Bold.eot);src:url(../fonts/DBFongNamX-Bold.eot?#iefix) format("embedded-opentype"),url(../fonts/DBFongNamX-Bold.woff2) format("woff2"),url(../fonts/DBFongNamX-Bold.woff) format("woff"),url(../fonts/DBFongNamX-Bold.ttf) format("truetype"),url(../fonts/DBFongNamX-Bold.svg#DBFongNamX-Bold) format("svg");font-weight:700;font-style:normal}
@font-face{font-family:'DB Helvethaica X';src:url(../fonts/DBHelvethaicaX-55Regular.eot);src:url(../fonts/DBHelvethaicaX-55Regular.eot?#iefix) format("embedded-opentype"),url(../fonts/DBHelvethaicaX-55Regular.woff2) format("woff2"),url(../fonts/DBHelvethaicaX-55Regular.woff) format("woff"),url(../fonts/DBHelvethaicaX-55Regular.ttf) format("truetype"),url(../fonts/DBHelvethaicaX-55Regular.svg#DBHelvethaicaX-55Regular) format("svg");font-weight:400;font-style:normal}
@font-face{font-family:'DB Helvethaica X';src:url(../fonts/DBHelvethaicaX-75Bd.eot);src:url(../fonts/DBHelvethaicaX-75Bd.eot?#iefix) format("embedded-opentype"),url(../fonts/DBHelvethaicaX-75Bd.woff2) format("woff2"),url(../fonts/DBHelvethaicaX-75Bd.woff) format("woff"),url(../fonts/DBHelvethaicaX-75Bd.ttf) format("truetype"),url(../fonts/DBHelvethaicaX-75Bd.svg#DBHelvethaicaX-75Bd) format("svg");font-weight:700;font-style:normal}



html{background-color:#f4f4f4}
body{word-break:break-word}
.hide{display:none}
.site-body{font-size:14px;color:#4A4A4A;background:#F4F4F4;line-height:1.8em;margin-top:30px;padding-top:36px}
header.site-header{background:#fff; border-bottom: 1px solid #EEE; position:fixed;z-index:999;top:0;left:0;width:100%;padding-top:6px;padding-bottom:6px;box-sizing:border-box}
header.site-header img.pru-logo{max-width:160px;margin-top:6px}
hr{margin:12px 0;background-color:rgba(0,0,0,0.04);height:1px}
div.warning{color:#ED1B2E;font-size:.9em;line-height:20px}
.content-card{padding:12px 24px;border-radius:2px;box-shadow:0 2px 3px rgba(10,10,10,.1),0 0 0 0 rgba(10,10,10,0);background:#fff}
.content-card .card-title{font-family:'DB Helvethaica X';font-size:1.8em;margin-top:0;margin-bottom:24px}
.content-card .card-title span.emphasis-title-span{margin-left:15px;font-weight:400}
.content-card .card-sub-title{margin-top:12px;color:#005db9;font-size:1.8em}
.content-card.login-card,.content-card.content-card{padding-bottom:36px}
.content-card.content-card{padding-top:25px}
.is-pru-red-bg{background:#ED1B2E}
.is-pru-red{color:#ED1B2E}
.is-pru-light-red{color:#F55F44}
.is-pru-green-bg{background:#4A8000}
.is-pru-blue{color:#005db9}
/* form{font-size:16px}
form ::placeholder{color:#9B9B9B}
form label{color:#9B9B9B;font-size:14px;display:block;margin-top:12px} */
input[type="button"],input[type="submit"]{-webkit-appearance:none!important}
input[type="text"],input.login-input,.ant-calendar-picker-input,{display:block;width:100%!important;border:1px solid #D1D1D1;border-radius:2px;line-height:2.2rem;padding-left:12px;padding-right:12px;color:#4A4A4A;font-size:1em}
.datepicker-input{width:100%;font-size:16px!important}
.datepicker-input input,.id-card-input,.dob-input{display:block;width:100%;border:1px solid #D1D1D1;border-radius:2px;line-height:2.2rem;padding-left:12px;padding-right:12px;color:#4A4A4A;font-size:1em}
.react-datepicker-wrapper,.react-datepicker__input-container{display:block}
input.birthdate-input,.ant-calendar-picker-input{background:#fff;background-size:24px 24px;background-position:right 12px center}
.ant-calendar-picker-icon{display:none}
input.fail-status,.fail-status input{border:1px solid #ED1B2E}
label.fail-status{color:#ED1B2E!important}
.fail-input{font-size:12px;color:#ED1B2E}
div.choose-image input[type="file"]{display:none}

h2.intro-text-title {
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 15px;
  font-weight: 700;
  color: #ed1b2e;
  font-family: DB Helvethaica X;
}

p.intro-text {
  margin: 0 auto 15px auto;
  color: #68737a;
  max-width: 600px
}
.intro-text p {
  padding-bottom: 12px;
}


/* input[type="submit"],button[type="submit"],a.form-button,span.form-button{border-radius:2px;background-color:#ED1B2E;font-family:'DB Helvethaica X';font-size:21px;color:#fff;display:block;width:100%;border:1px solid transparent;line-height:50px;text-align:center;margin-top:18px;height:50px}
input[type="submit"]:disabled,button[type="submit"]:disabled,a.form-button.disabled-button,span.form-button.disabled-button{color:#9B9B9B;background-color:#D1D1D1;cursor:not-allowed}
input[type="submit"].inline-button,button[type="submit"].inline-button,a.form-button.inline-button,span.form-button.inline-button{display:inline-block;width:47%}
input[type="submit"].inline-button.left-position,button[type="submit"].inline-button.left-position,a.form-button.inline-button.left-position
 */

/* span.form-button.inline-button.left-position{margin-right:4%}
form.consent-form-body .field-wrapper{display:block;margin-bottom:12px}
form.consent-form-body input[type="radio"],form.consent-form-body input[type="checkbox"],form.consent-form-body label{display:inline}
form.consent-form-body input[type="radio"],form.consent-form-body input[type="checkbox"]{width:20px}
form.consent-form-body label{font-size:16px;color:#4A4A4A}
.form-button.cancel-button{background:#eaeaea;color:#4A4A4A}
.consent-option-yes.insurance-option{padding:10px 20px;line-height:20px}
.insurance-option.insurance-option__list{padding-left:15px}
.indent{padding-left:5px}
.sub-card-loading-wraper{padding-top:.8rem;padding-bottom:1.2rem}
.loading-state-indicator{font-size:1.2em}
.loading-icon{display:inline-block;margin-right:4px;width:16px;height:16px;content:"";border-radius:50%;animation:spin 2s linear infinite}
.loading-icon.white-bordered{border:2px solid rgba(0,0,0,0.1);border-top:2px solid #fff}
.loading-icon.grey-bordered{border:2px solid rgba(0,0,0,0.1);border-top:2px solid #666}
.loading-text.grey-color{color:rgba(0,0,0,0.4)}
.intro-text p{padding-bottom:12px}
.note-text{font-size:12px}
.submission-status h4{font-size:20px;margin-top:12px;margin-bottom:12px}
.icon-wrapper img{max-width:50px}
h2.intro-text-title{font-size:1.8em;line-height:1.2em;margin-bottom:15px;font-weight:700;color:#ED1B2E;font-family:'DB Helvethaica X'}
p.intro-text{margin-bottom:15px;color:#68737A} */


.site-footer{color:#4A4A4A;padding-top:24px;padding-bottom:24px;font-size:13px; margin-top:50px; position: relative; z-index: -1;}
.footer-version{font-size:10px}
.body{ margin-top:100px; }


.form-body{background:#FFF;padding:10px;  min-height: 200px;}

.form-body .label {
  color: #888;
  font-weight: normal;
}



.remark{background: #EEE; border-radius:4px; padding: 10px; display: block; font-size: .9em }

header.site-header{    
  
	/* will-change: transform; */
	transition: transform .5s ease-in-out; /* will-change: transform; */
  /*   transform: rotateX(0deg);
	  transform-origin: 50% 0; */
	  
  
  }
  .scroll-down header.site-header{
  
	/* margin-top: -86px; */
	 /*  transform: rotateX(-90deg); */
  
	 transform: translateY(-100%)
  
  
  }


  .field>.radio{margin-bottom: 10px}


  .language-switcher {
    position: absolute;
    right: 30px;
    top: 13px;
    cursor: pointer;
}

.language-switcher:hover{}
  
.paging{margin-top: 40px}



.status{text-align: center;}
.status .fa-3x{ margin-top: 50px}
.status .details{margin: 20px 0}

.blink{animation: blink 400ms linear infinite;}

.ref-no{font-size: 1.4em}



.claimant-other .field{    
  display: inline-block;
  width: calc(100% - 56px);
  vertical-align: middle;
}

.en .claimant-other .field{    
  width: calc(100% - 68px);
}


/* .page-1 .form-body .field{opacity: 0} */

input.is-danger{animation:shake .82s cubic-bezier(.36,.07,.19,.97) both;transform:translate3d(0,0,0);backface-visibility:hidden;perspective:1000px}
@keyframes shake {
10%,90%{transform:translate3d(-1px,0,0)}
20%,80%{transform:translate3d(2px,0,0)}
30%,50%,70%{transform:translate3d(-4px,0,0)}
40%,60%{transform:translate3d(4px,0,0)}
}


/*----------------OVERIDE----------------*/
.body>.steps{}
.steps:not(.is-hollow) .steps-segment.is-active .steps-marker:not(.is-hollow),
.steps:not(.is-hollow) .steps-marker:not(.is-hollow),
.steps-segment:after
{background-color:#ED1B2E;}
.steps-segment.is-active .steps-marker{transform: scale(1.2); transition:all 400ms cubic-bezier(0.095, 1.650, 0.840, 1.650);;}

.steps-segment.is-active .steps-content {
  font-weight: 700;
}

.button, .file-cta, .file-name, .input, .pagination-ellipsis, .pagination-link, .pagination-next, .pagination-previous, .select select, .textarea
{border-radius: 2px}

.button.is-pru{ background-color: #ED1B2E; border-radius: 4px; color: #fff }
.paging button{padding: 0 50px}
/*--------------------------------------*/






@keyframes blink{
  0%{opacity: 0.5;}
  33%{opacity: .5;}
  66%{opacity: 1;}
   100%{opacity:.5;}
  }


@media screen and (min-width: 1280px){
  .container {
    max-width: 800px;
  }


}


@media all and (min-width: 768px) {
	.form-body{padding:2vw}
	}



@keyframes spin {
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
@media all and (max-width: 768px) {
.site-body{margin-top:30px;padding-top:36px}
.container{padding-left:15px;padding-right:15px}
hr{margin:5px 0}
.content-card .card-title{text-align:center;line-height:1em}
.content-card .card-title span.emphasis-title-span{display:block}
form ::placeholder{font-size:.8em}
}
@media all and (max-width: 1280px) {
.container{padding-left:15px;padding-right:15px}
}
@keyframes menuSlideIn {
0%{left:-100%}
70%{left:5%}
100%{left:0}
}


@media print{
  
  .scroll-down header.site-header {
    transform: translateY(0%);
    position: inherit;
}
/* .container.body{margin-top: 0} */

  html,.site-footer {background-color: #FFF; }
  .language-switcher,
  .container.body>*:not(.content),
  .content>form>*:not(.form-body){ display: none}

  .button.is-danger.ref-no{  color:black; background-color: #FFF; letter-spacing: 2px}

  header.site-header{border: none}



}