ul.image-upload-list{list-style: none !important; margin: 0 !important; display: inline-flex; flex-wrap: wrap;margin-top: 20px !important; 

    margin-left: -10px !important;
    margin-right: -10px !important;

}
.image-upload-list li {display: inline-block;  position: relative; margin-right: 10px; margin-left: 10px; vertical-align: top; margin-bottom: 20px}

.image-upload-list li img, .icon-file-type{
    display: flex;
    width: 100px;
    height: 100px;
    object-fit: cover; object-position: 50% 50%;
    /* background: #999; */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ababab' fill-opacity='0.56'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    border: 1px solid #666;
    border-radius: 10px;
}

.icon-file-type{display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF;
    color:#ed2029;
}
.icon-file-type i{font-size: 60px}
.file-details{font-size: 10px; word-break: break-all; width: 100px; display: block; text-align: center}
.remove-file{    position: absolute;
    top: -13px;
   /*  right: -13px; */
    left: 90px;
    font-size: 20px; cursor: pointer}