.svg-icons{display: none}
.contacts-list{
  display: none;
  overflow-y: scroll;
  margin: 0 !important; 
  padding: 0;
  max-height: calc(100vh - 160px);
  min-height: auto;
  position: absolute;
  min-width: 100%;
  z-index: 99;
  background: #FFF;
  border: 1px solid #999;
}
.contacts-list:hover{
  /* display: block */
}
.autocomplete-container{ position: relative; }
.autocomplete-container>.close{ position: absolute;
  right: 10px;
  width: 12px;
  height: 12px;
  top: 12px;
   display: none; 
   cursor: pointer
   }
.autocomplete-container:hover >.close{ display: block; fill:#CCC}


/* .autocomplete-container .input:focus+.contacts-list{display: block}  */
.autocomplete-container.focus  .input+.contacts-list{display: block} 


/* .autocomplete-container .input.selected:focus+.contacts-list{display: none} */


.focus .icon.is-right,.autocomplete-container:hover .icon.is-right{display: none}

.contacts-list>li{padding:10px; cursor: pointer; font-size: 0.9em}
.contacts-list>li:hover{background: #ED1B2E; color: #fff}


.contacts-list>li>*,.autocomplete-container .close>*{pointer-events:none}


.contacts-list>li>span:after{content: " > "; font-weight: normal; color:#999}
.contacts-list>li:hover>span:after{content: " > "; font-weight: normal; color:rgb(255, 196, 196)}
.contacts-list>li>span:last-child:after{content: ""}

.contacts-list.d li>span:nth-child(1),
.contacts-list.a li>span:nth-child(2),
.contacts-list.p li>span:nth-child(3),
.contacts-list.z li>span:nth-child(4){ font-weight: bold; font-size: 1.1em;}
.contact-name{white-space: nowrap}